extends layout

block content
  .wr
    header
      .mh
        h1= title
      .ti
        marquee
          ul
            li En elefant marcherade
            li Pa en liten liten liten spindeltrad
            li Det tyckte han var sa intressant
    main
      .fe
        .l
        .r
          section
            h2 Vem avlyssnade Nicke Nyfikens telefonkonferens?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .gr
        .c1
          section
            .i
            h3 Ett hundra hundar är fler än 70 elefanter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .c2
          section
            .i
            h3 Ett hundra hundar är fler än 70 elefanter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        .c3
          section
            .i
            h3 Ett hundra hundar är fler än 70 elefanter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    footer
