extends layout

block content
  .wr
    header
      .mh
        h1= title
      .ti
        marquee
          ul
            li En elefant marcherade 
            li Pa en liten liten liten spindeltrad 
            li Det tyckte han var sa intressant
    main
      .fe
      .gr
        .c1
        .c2
        .c3
    footer
