doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='Description', content=desc)
    meta(name='Keywords', content=keywords)
    title= title
    link(rel='stylesheet', href=cssHash)
  body
    block content
