*
  margin: 0
  padding: 0

body
  font: 18px serif

h1
  font-size: 4em

.mh
  border-bottom: 1px solid black
  padding: 1em

.ti
  height: 1.2em
  border-bottom: 1px solid black
  font-family: sans-serif
  text-transform: uppercase
  li
    display: inline
    &:before
      content: "» "
      position: relative
      top: -1px
